.Rproj.user
.Rhistory
.RData
.Ruserdata

# Raw data
/data-raw/*.xls*
/data-raw/*.csv


/data-old/*.xls*
/data-old/*.csv

/data/*.xls*
/data/*.csv
/data/*.rda

/documents/

/R/*_mimic_*.R

/R/AFatriskECG.R

packrat/lib*/
